@font-face {
    font-family: "Source Sans Pro";
    src: url(../source-sans-pro/SourceSansPro-Bold.otf) url(../source-sans-pro/SourceSansPro-Semibold.otf) url(../source-sans-pro/SourceSansPro-Light.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
}
.mainhome{
    width: 100%;
    min-height: 130vh;
    background-image: url(images/Object.png);
    background-size: cover;
    background-position: center;
}



header {
    
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    top: 0;
    left: 0;
   
}


header img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.navbar a {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}







/* Main Section */
main {
    
    min-height: 100vh;
    padding-top: 80px;
    text-align: center;
    color: #fff;
    font-display: flex;
    flex-direction: column;
    justify-content: center;
}
main h1 {
    margin-top: 20px;
    margin-bottom: 2opx;
    font-size: 4em;
    margin: 20px 20px;
}

main span {
    margin:  10px 10px;
    font-size: 1.2em;
    color: white;
    
}

main button {
    background: #a736d4;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    margin-top: 40px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 5px;
}

main button:hover {
    background: #8b2aa5;
}


.pros {
    display: block;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.pros h2{
    color: white;


}
.pros h2 span{
    color:#8b2aa5;
}
.pro {
    display: inline-flex;
    flex-wrap: wrap;
    
   
    padding: 20px;
    text-align: center;
    width: 200px;
    
}

.pro img {
    display: inline-flex;
    width:100px;
    height: 100px;
    border-radius: 50%;
}

.pro h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
    text-align: center;
}

.pro p {
    font-size: 0.9em;
    color: white;
    text-align: center;
}
.quote{
    width: 100%;
    min-height: 40vh;
    background-color:#a736d4;
    align-items: center;
    display: inline-flex;
}
.image{
    align-items: center;
    width: 100%;
    margin-left: 40px;
    margin-top: 2rem;
}
.para{
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 0%;
    margin-right: 100px;
    font-size: 20px;

}
.video {
    margin-top: 20px;
    display: inline-flex;
}

.video h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.video > div {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;

}

.video h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.video p {
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}

.video > div > div {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}

.video > div > div img {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}


.video > div > div h4 {
    font-size: 18px;
    color:#a736d4;
}

.video > div > div + div {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

.video > div > div + div > div {
    margin-right: 5px;
}

.video > div > div + div p {
    margin-left: auto;
    font-size: 14px;
    color: black;
}

.fa-solid.fa-star {
    color:#a736d4;
}
.last{
    color: #555;
}






